body {
    background-color: #f5f6fa;
}
.creditials{
    position: absolute;
    bottom: 3%;
}
.welcomeMessage{
    position: absolute;
    top: 10%;
    left: 0%;
    right: 0%;
    text-align: center;
}
.playBox{
    position: absolute;
    text-align: center;
    top: 19%;
    left: 0%;
    right: 0%;
}
.playBox2{
    position: absolute;
    text-align: center;
    top: 43%;
    left: 0%;
    right: 0%;
}
.localPlay {
    position: absolute;
    left: 30%;
    right: 30%;
    border-style: solid;
    border-width: 2px;
}
.onlinePlay {
    position: absolute;
    left: 30%;
    right: 30%;
    border-style: solid;
    border-width: 2px;
}
hr {
    width: 85%;
}

.PlayForm {
    display: inline-grid;
}
label{
    padding-bottom: 3%;
}
input{
    margin-bottom: 3%;
}
.PlayTitle {
    margin-bottom: 3%;
    margin-top: 3%;
}
.PlayButton {
    padding: 3%;
    font-size: 16px;
    transition-duration: 0.4s;
    border: 2px solid #555555;
    cursor: grab;
    margin-bottom: 3%;
    width: 75%;
    margin-left: 13%;
}
.PlayButton:hover {
    background-color: #555555;
    color: white;
}
#JoinCodeDiv {
    display: none;
}
